**/.dockerignore
**/.git
**/.gitignore
**.user
**/bin/*
**/obj/*
**/docker-compose*
**/Dockerfile*

**/appsettings.**

.devcontainer/
.github/
.vs/
.vscode/
target/
e2e/

.gitattributes

LICENSE
README.md
